<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2016</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
  </head>
  
  <body>
		<header>
			<div class="logo">
				<a href ="#"><img src="../images/logo.jpg" alt="M I N I M O"></a>
			</div>
			<nav class="main-text">
				<a href="#">lifestyle</a>
				<a href="#">photodiary</a>
				<a href="#">music</a>
				<a href="#">travel</a>
			</nav>
		</header>

		<main class="content">
			<div class="cover"><img src="../images/cover.jpg" width="100%" height="510" alt="Cover"></div>
			
			<section class="block-left">
				<div class="block-left__top">photodiary</div>
				<div class="block-left__internal">
				<article>
					<div class="block-left__header">The perfect weekend getaway</div>
					<div class="block-left__main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					<strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</strong> totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</div>
				</article>
				<div class="block-left__photo-one"><img src="../images/3.jpg" width="100%" height="496" alt="Девушка"></div>
				<div class="block-left__photo-two"><img src="../images/a4.jpg" width="100%" height="496" alt="Девушка"></div>
				<div class="block-left__photo-three"><img src="../images/a5.jpg" width="100%" height="496" alt="Девушка"></div>
				<div class="block-left__main-text italics">“Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.”</div>
				<div class="block-left__main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				<strong>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</div>
				</div>
				<div class="block-left__footer">share
				<a href="#" target="_blank"><img src="../images/fb.png" alt="facebook" hspace="10"></a>
				<a href="#" target="_blank"><img src="../images/tw.png" alt="twitter"></a>
				<a href="#" target="_blank"><img src="../images/g+.png" alt="google" hspace="10"></a>
				<a href="#" target="_blank"><img src="../images/tumblr.png" alt="tumblr"></a>
				<a href="#" target="_blank"><img src="../images/pinterest.png" alt="pinterest" hspace="10"></a>
				</div>
			</section>
				
			<aside class="block-right">
				<div class="block-right__right"><img src="../images/2.jpg" width="273" height="177" alt="Девушка с кружкой"></div>
				<div class="block-right__header">About me</div>
				<div class="block-right__main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
				<a href="#" target="_blank"><img src="../images/fb.png"  alt="facebook"></a>
				<a href="#" target="_blank"><img src="../images/instagram.png"  alt="instagram" hspace="10"></a>
				<a href="#" target="_blank"><img src="../images/pinterest.png"  alt="pinteres"></a>
				<div class="block-right__top">Top posts</div>
				<ul class="block-right__list-text">
					<li>
						A day exploring the Alps
						<div class="block-right__list-comments">24 comments</div>
					</li>
					<li>
						American dream
						<div class="block-right__list-comments">19 comments</div>
					</li>
					<li>
						Cold winter days
						<div class="block-right__list-comments">15 comments</div>
					</li>
				</ul>
				<div class="block-right__banner"><img src="../images/banner-spot.jpg"  width="250" height="250" alt="banner"></div>
			</aside>
		</main>
		
		<footer>
			<div class="footer__internal">
				<div class="footer-right">
					<span class="footer__text">Follow</span>
					<a href="#"><img src="../images/facebook.png" alt="facebook"></a>
					<a href="#"><img src="../images/twitter.png" alt="twitter" hspace="10"></a>
					<a href="#"><img src="../images/instgrm.png" alt="instgrm" ></a>
				</div> 
				<div class="footer-left__text">
					<a href="#">Terms and conditions</a>
					<div class="footer-left__spacing"></div>
					<a href="#">Privacy</a>
				</div>
			</div>
		</footer> 

  </body>

</html>
